/* Webfont: Rois-Medium */@font-face {
    font-family: 'RoisMedium';
    src: url('Rois-Medium.eot'); /* IE9 Compat Modes */
    src: url('Rois-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Rois-Medium.woff') format('woff'), /* Modern Browsers */
         url('Rois-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Rois-Medium.svg#Rois-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

